/*===================================

STRUCTURE

===================================*/

html{
    display: inline-block;
    animation: fadeIn linear 0.5s;
    -webkit-animation: fadeIn linear 0.5s;
    -moz-animation: fadeIn linear 0.5s;
    -o-animation: fadeIn linear 0.5s;
    -ms-animation: fadeIn linear 0.5s;
    overflow-x: hidden;
    max-width: 1630px;
    margin: 0 auto;
}
  
  @keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1;}
  }
  
  @-moz-keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1;}
  }
  
  @-webkit-keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1;}
  }
  
  @-o-keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1;}
  }
  
  @-ms-keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1;}
  }

head{
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body{
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    padding: 0px;
    margin: 0px;
}

/*===================================

SCROLLBAR

===================================*/

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
  background: #f8f8f8; 
}

::-webkit-scrollbar-thumb{
  background: #0f3351;
}

::-webkit-scrollbar-thumb:hover{
  background: #0f3351; 
}


/*===================================

TEXT

===================================*/

p{
    font-family: 'Karla', sans-serif;
    color: #383838;
    font-size: 16px;
    display: inline-block;
}

a{
    font-family: 'Karla', sans-serif;
    color: #0a253c;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

a:hover{
    color: #0a253c;
    transition: 0.3s;
    opacity: 1;
}

h1{
    font-family: 'Karla', sans-serif;
    color: #383838;
    font-size: 50px;
    font-weight: 200;
}

h2{
    font-family: 'Karla', sans-serif;
    color: #383838;
    font-size: 20px;
    font-weight: 300;
}

h3{
    font-family: 'Karla', sans-serif;
    color: #383838;
    font-size: 16px;
    font-weight: 100;
}

h4{
    font-family: 'Karla', sans-serif;
    color: #f8f8f8;
    font-size: 20px;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
    line-height: 25px;
}

.active{
    opacity: 1 !important;
}

.navbar{
    width: 100%;
    position: sticky;
    left: 0px;
    top: 0px;
    height: 90px;
    background-color: #ffffff;
    z-index: 9999;
}

.navbar-container{
    padding: 2rem;
    float: right;
    display: flex;
    align-content: center;
    justify-content: center;
}

.logo{
    margin-right: 2rem;
}

.logo-item{
    margin-top: 1rem;
    opacity: 0.65;
    font-family: 'Karla', sans-serif;
    color: #0a253c;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

.nav-btn{
    cursor: pointer;
    margin: 2rem;
    width: 200px;
    opacity: 0.65;
}

.btn{
    border-radius: 4px;
    height: 60px;
    width: 200px;
}

.mainphrase{
    padding: 5rem;
    margin-top: 2rem;
    max-width: 100%;
}


.ribbon{
    background: #0f3351;
    height: 10px;
    width: 10rem;
    border-radius: 2px;
}

.buttonrow{
    margin-top: 3rem;
}

.cont-text{
    float: left;
}

.gallery{
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 0rem;
    font-size: 0px;
    line-height: 0px;
}

.gallery-info{
    color: #929292 !important;
    padding-left: 5rem;
    margin-bottom: 2rem;
}

.gallery-info-text{
    font-family: 'Karla', sans-serif;
    margin: 1rem;
    opacity: 1;
    line-height: 1.5rem;
    display: inline-flex;
    vertical-align: middle;
    font-size: 1.5rem;
    color: #b3b3b3;
}

.no-link{
    cursor:text;
}

.project{
    transition: 0.3s;
    width: 25%;
    cursor: pointer;
    opacity: 1;
}

.project:hover{
    transition: 0.3s;
    opacity: 0.8;
}

.aboutme{
    width: 100%;
    padding: 0px;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.aboutme-container{
    width: 100%;
    display: flex;
}

.aboutmetitle{
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    text-align: justify;
    text-justify: inter-word;
}

.aboutme-photo-container{
    transition: 0.3s;
    opacity: 1;
    width: 50%;
    display: flex;
}

.aboutme-photo-container:hover{
    transition: 0.3s;
    opacity: 1;
}

.aboutme-photo-xl{
    width: 100%;
}

.aboutme-photo-m{
    display: none;
    max-width: 100%;
}

.aboutme-text{
    width: 40%;
    float: left;
}

.am-trigger1{
    display: block;
}

.am-trigger2{
    display: none;
}

.smicon{
    height: 50px;
    cursor: pointer;
    border-radius: 2px;
    filter: contrast(0);
    transition: 0.3s;
}

.smicon:hover{
    height: 50px;
    transition: 0.3s;
    filter: contrast(1);
}

.footer-container{
    height: 0px;
    background-color: transparent;
}

.clickicon{
    display: inline-flex;
    vertical-align: middle;
    height: 2rem;
    opacity: 0.3;
}

.tapicon{
    display: none;
    height: 3rem;
    opacity: 0.3;
}

@media screen and (max-width: 1630px){

    .aboutme {
        margin-top: 0rem;
    }

    .aboutme-container{
        width: 100%;
        display: block;
    }
    
    .aboutme-photo-xl{
        display: none;
    }

    .aboutme-photo-m{
        display: flex;
    }

    .aboutme-photo-container{
        transition: 0.3s;
        opacity: 1;
        width: 100%;
        display: block;
    }

    .aboutme-text{
        width: 100%;
        float: left;
    }
}

@media screen and (max-width: 990px){

    .smicon{
        height: 50px;
        cursor: pointer;
        border-radius: 2px;
        filter: contrast(0);
    }
    
    .smicon:hover{
        height: 50px;
        transition: 0.3s;
    }

    .clickicon{
        display: none;
        height: 3rem;
        opacity: 0.3;        
    }
    
    .tapicon{
        display: inline-flex;
        vertical-align: middle;
        height: 3rem;
        opacity: 0.3;        
    }

    .project{
        width: 50%;
        background-color: #0f3351;
        cursor: pointer;
    }

    .navbar-container{
        padding: 0px;
        float: none;
        padding-top: 2rem;
        width: 100%;
        text-align: center;
        display: flex;
        align-content: center;
        justify-content: center;
    }
  
    .navbar{
        height: 120px;
        display: block;
    }

    .logo{
        display: none;
    }

    .navbar{
        height: 180px;
    }


    .nav-item-container{
        width: 33%;
        line-height: 3rem;
    }

    .nav-btn {
        font-size: 3rem;
    }

    .nav-items{
        width: 100%;   
    }

    .mainphrase{
        padding: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 5rem;
        max-width: 100%;
    }

    .gallery-info-text{
        cursor: pointer;
        margin: 1rem;
        opacity: 1;
        line-height: 2rem;
        display: inline-flex;
        vertical-align: middle;
        font-size: 2rem;
        color: #b3b3b3;
    }

    .aboutme{
        width: 100%;
        padding: 0px;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    

    .aboutme-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .aboutme-photo-container{
        width: 100%;
        float: left;
    }
    
    .aboutme-text{
        width: 100%;
        float: left;
    }

    .aboutmetitle{
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
        text-align: left;
        text-justify: inter-word;
    }

    .logo-item{
        display: none;
    }

    .am-trigger1{
        display: none;
    }

    .am-trigger2{
        display: block;
    }

    .smicon{
        height: 100px;
        cursor: pointer;
        border-radius: 2px;
    }
    
    .smicon:hover{
        height: 100px;
        transition: 0.3s;
    }
}

.invisible{
    font-size: 0px;
    margin: 0px;
    padding: 0px;
}