/*===================================

STRUCTURE

===================================*/

html {
    display: inline-block;
    animation: fadeIn linear 0.5s;
    -webkit-animation: fadeIn linear 0.5s;
    -moz-animation: fadeIn linear 0.5s;
    -o-animation: fadeIn linear 0.5s;
    -ms-animation: fadeIn linear 0.5s;
    overflow-x: hidden;
}
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

head {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    padding: 0px;
    margin: 0px;
}

/*===================================

SCROLLBAR

===================================*/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
  background: #f8f8f8; 
}

::-webkit-scrollbar-thumb {
  background: #0f3351;
}

::-webkit-scrollbar-thumb:hover {
  background: #0f3351; 
}


/*===================================

TEXT

===================================*/

p {
    font-family: 'Karla', sans-serif;
    color: #383838;
    font-size: 16px;
}

a {
    font-family: 'Karla', sans-serif;
    color: #0a253c;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

a:hover {
    color: #0a253c;
    transition: 0.3s;
    opacity: 1;
}

h1 {
    font-family: 'Karla', sans-serif;
    color: #383838;
    font-size: 50px;
    font-weight: 200;
}

h2 {
    font-family: 'Karla', sans-serif;
    color: #383838;
    font-size: 20px;
    font-weight: 300;
}

h3 {
    font-family: 'Karla', sans-serif;
    color: #383838;
    font-size: 16px;
    font-weight: 100;
}

h4 {
    font-family: 'Karla', sans-serif;
    color: #f8f8f8;
    font-size: 20px;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
    line-height: 25px;
}

.navbar {
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100px;
    backdrop-filter: blur(100px);
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 9999;
}

.navbar-container{
    padding: 2rem;
    float: right;
}

.nav-logo{
    margin: 2rem;
    width: 200px;
    opacity: 1;
}

.nav-logo2 {
    margin-bottom: 1rem;
    width: 200px;
    opacity: 1;
    display: none;
}

.nav-btn {
    cursor: pointer;
    margin: 2rem;
    width: 200px;
    opacity: 0.65;
}

.btn {
    border-radius: 4px;
    height: 60px;
    width: 200px;
}

.mainphrase {
    padding: 5rem;
    margin-top: 10rem;
    margin-left: 2rem;
    max-width: 100%;
}


.ribbon {
    background: #0f3351;
    height: 10px;
    width: 10rem;
    border-radius: 2px;
}

.buttonrow {
    margin-top: 3rem;
}

.cont-text {
    float: left;
}

.gallery {
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 0rem;
    font-size: 0px;
    line-height: 0px;
}

.project {
    transition: 1s;
    width: 25%;
    cursor: pointer;
    opacity: 1;
}

.project:hover {
    transition: 0.1s;
    opacity: 0.8;
}

.aboutme {
    width: 100%;
    padding: 0px;
}

.aboutme-container{
    display: flex;
    flex-wrap: nowrap;
}

.aboutmetitle {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    text-align: justify;
    text-justify: inter-word;
}

.aboutphoto {
    transition: 1s;
    opacity: 0.75;
    width: 50%;
    display:flex;
}

.aboutphoto:hover {
    transition: 1s;
    opacity: 1;
}

.abouttext {
    width: 40%;
    float: left;
}

.am-trigger1{
    display: block;
}

.am-trigger2{
    display: none;
}

.smicon{
    height: 50px;
    cursor: pointer;
    border-radius: 2px;
}

.smicon:hover{
    height: 50px;
    transition: 1s;
}

.footer-container{
    height: 200px;
    background-color: #0f3351;
}

.scroll-opt {
    color: #929292 !important;
}

.scroll-opt2 {
    display: none;
    line-height: 30px;
    font-size: 30px;
    opacity: 0.75;
    color: #929292 !important;
}

@media screen and (max-width: 1630px){

    .smicon{
        height: 50px;
        cursor: pointer;
        border-radius: 2px;
    }
    
    .smicon:hover{
        height: 50px;
        transition: 1s;
    }

    .scroll-opt {
        display: none;
    }

    .scroll-opt2 {
        display: block;
    }

    .project {
        width: 50%;
        background-color: #0f3351;
        cursor: pointer;
    }

    .navbar-container {
        padding: 0px;
        float: none;
        padding-top: 2rem;
        width: 100%;
        text-align: center;
    }
  
    .navbar {
        height: 120px;
        display: none;
    }

    .mainphrase {
        padding: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 5rem;
        max-width: 100%;
    }

    .aboutme-container{
        display: flex;
        flex-wrap: wrap;
    }

    .aboutphoto{
        width: 100%;
        float: left;
    }
    
    .abouttext {
        width: 100%;
        float: left;
    }

    .aboutmetitle {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
        text-align: left;
        text-justify: inter-word;
    }

    .nav-logo {
        display: none;
    }

    .nav-logo2 {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 980px){
    .nav-btn{
        font-size: 2.5rem;
    }

    .nav-logo2 {
        font-size: 2.5rem;
    }

    .navbar {
        height: 180px;
    }

    .am-trigger1{
        display: none;
    }

    .am-trigger2{
        display: block;
    }

    .smicon{
        height: 100px;
        cursor: pointer;
        border-radius: 2px;
    }
    
    .smicon:hover{
        height: 100px;
        transition: 1s;
    }
}