/*===================================

STRUCTURE

===================================*/

html{
    display: inline-block;
    animation: fadeIn linear 0.5s;
    -webkit-animation: fadeIn linear 0.5s;
    -moz-animation: fadeIn linear 0.5s;
    -o-animation: fadeIn linear 0.5s;
    -ms-animation: fadeIn linear 0.5s;
    overflow-x: hidden;
    max-width: 1630px;
    margin: 0 auto;
}
  
  @keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1;}
  }
  
  @-moz-keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1;}
  }
  
  @-webkit-keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1;}
  }
  
  @-o-keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1;}
  }
  
  @-ms-keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1;}
  }

head{
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body{
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    padding: 0px;
    margin: 0px;
}

/*===================================

SCROLLBAR

===================================*/

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
  background: #f8f8f8; 
}

::-webkit-scrollbar-thumb{
  background: #0f3351;
}

::-webkit-scrollbar-thumb:hover{
  background: #0f3351; 
}


/*===================================

TEXT

===================================*/

p{
    font-family: 'Karla', sans-serif;
    color: #383838;
    font-size: 16px;
    display: inline-block;
}

a{
    font-family: 'Karla', sans-serif;
    color: #0a253c;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

a:hover{
    color: #0a253c;
    transition: 0.3s;
    opacity: 1;
}

h1{
    font-family: 'Karla', sans-serif;
    color: #383838;
    font-size: 50px;
    font-weight: 300;
}

h2{
    font-family: 'Karla', sans-serif;
    color: #383838;
    font-size: 20px;
    font-weight: 300;
}

h3{
    font-family: 'Karla', sans-serif;
    color: #383838;
    font-size: 16px;
    font-weight: 100;
}

h4{
    font-family: 'Karla', sans-serif;
    color: #f8f8f8;
    font-size: 20px;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
    line-height: 25px;
}

.active-pink{
    opacity: 1 !important;
    color: #ef0060;
    font-weight: 500;
}

.active-brown{
    opacity: 1 !important;
    color: #DC9A56;
    font-weight: 500;
}

.active-yellow{
    opacity: 1 !important;
    color: #efbf00;
    font-weight: 500;
}

.navbar{
    width: 100%;
    position: sticky;
    left: 0px;
    top: 0px;
    height: 90px;
    background-color: #ffffff;
    z-index: 9999;
}

.navbar-container{
    padding: 2rem;
    float: right;
    display: flex;
    align-content: center;
    justify-content: center;
}

.logo{
    margin-right: 2rem;
}

.logo-item{
    margin-top: 1rem;
    opacity: 1;
    font-family: 'Karla', sans-serif;
    color: #383838;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.nav-btn{
    cursor: pointer;
    margin: 2rem;
    width: 200px;
    opacity: 0.4;
}

.btn{
    border-radius: 4px;
    height: 60px;
    width: 200px;
}

.banner-container{
    display: inline-flex;
    width: 100%;
}

.slogan{
    width: 100%;
    padding: 5rem;
    margin-top: 2rem;
    max-width: 100%;
}

.slogan-decoration{
    width: 50%;
}

.ribbon-pink{
    background: #ef0060;
    height: 5px;
    width: 10rem;
    border-radius: 2px;
    opacity: 0.4;
}

.ribbon-yellow{
    background: #efbf00;
    height: 5px;
    width: 10rem;
    border-radius: 2px;
}

.ribbon-blue{
    background: #00bfef;
    height: 5px;
    width: 10rem;
    border-radius: 2px;
}

.buttonrow{
    margin-top: 3rem;
}

.cont-text{
    float: left;
}

.gallery{
    max-width: 100%;
    margin: 0px;
    margin-bottom: 0rem;
    font-size: 0px;
    line-height: 0px;
    text-align: center;
}

.gallery-info{
    color: #929292 !important;
    margin-bottom: 2rem;
    padding-left: 1rem;
}

.gallery-info-text{
    font-family: 'Karla', sans-serif;
    margin: 1rem;
    opacity: 1;
    line-height: 1.5rem;
    display: inline-flex;
    vertical-align: middle;
    font-size: 1.5rem;
    color: #383838;
}

.project-block{
    transition: 0.3s;
    height: 500px;
    width: 500px;
    cursor: pointer;
    display: inline-flex;   
    margin-bottom: 5rem;
}

.project-container{
    padding: 2rem;
    width: 100%;
}

.project{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.project.green{
    background-color: #cdeeee;
}

.project.grey{
    background-color: #FBFBFB;
}

.project.blue{
    background-color: #ccf2fc;
}

.project:hover{
    transition: 0.3s;
    opacity: 0.8;
}

.project-logo{
    width: 40%;
    position: relative;
    padding-left: 2rem;
    padding-top: 2rem;
}

.project-pics{
    padding: 2rem;
    position: absolute;
}

.project-pic{
    width: auto;
    height: 340px;
    position: absolute;
}

.aboutme{
    width: 100%;
    padding: 0px;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.aboutme-container{
    width: 100%;
    display: flex;
}

.aboutmetitle{
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    text-align: justify;
    text-justify: inter-word;
}

.aboutme-photo-container{
    transition: 0.3s;
    opacity: 1;
    width: 50%;
    display: flex;
}

.aboutme-photo-container:hover{
    transition: 0.3s;
    opacity: 1;
}

.aboutme-photo-xl{
    width: 100%;
}

.aboutme-photo-m{
    display: none;
    max-width: 100%;
}

.aboutme-text{
    width: 40%;
    float: left;
}

.am-trigger1{
    display: block;
}

.am-trigger2{
    display: none;
}

.smicon{
    height: 50px;
    cursor: pointer;
    border-radius: 2px;
    transition: 0.3s;
    filter: contrast(0);
}

.smicon:hover{
    height: 50px;
    transition: 0.3s;
    filter: contrast(1);
}

.smicon-xl{
    width: 25%;
    cursor: pointer;
    transition: 0.3s;
    filter: contrast(0.8);
}

.smicon-xl:hover{
    transition: 0.3s;
    filter: contrast(1);
}

.footer-container{
    height: 0px;
    background-color: transparent;
}

.clickicon{
    display: inline-flex;
    vertical-align: middle;
    height: 2rem;
}

.tapicon{
    display: none;
    height: 3rem;
}

.contact{
    max-width: 50%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 0rem;
    font-size: 0px;
    line-height: 0px;
    padding-left: 5rem;
}

.contact-info{
    color: #929292 !important;
    padding-left: 5rem;
    margin-bottom: 2rem;
}

.contact-info-text{
    font-family: 'Karla', sans-serif;
    margin: 1rem;
    opacity: 1;
    line-height: 1.5rem;
    display: inline-flex;
    vertical-align: middle;
    font-size: 1.5rem;
    color: #b3b3b3;
}


/*===================================

PHONE

===================================*/

.phone {
    margin: 0;
    position: relative;
    padding: 3rem;
}

.phone-container {
    position: relative;
    max-height: 700px;
    left: 50%;
    -webkit-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
        /* Transform with the translate3d attribute allows img's to be renderized without a 1px pop at the end, making it smoother, and the first digit centers in the X axys the content. */
    animation-name: phone-container;
    animation-duration: 3s;
    animation-fill-mode: forwards;
        /* Forward makes the animation stop wherever it is and not reset to the original position */
    }

    @keyframes phone-container {
    0% {
    padding-bottom: 0px;
    opacity: 0.0;
    }
    5% {
    padding-bottom: 0px;
    opacity: 0.0;
    }
    10% {
    padding-bottom: 0px;
    opacity: 1.0;
    }  
    100% {
    padding-bottom: 0px;
    opacity: 1.0;
    }
}

    .unlock {
    position: absolute;
    max-height: 700px;
    left: 50%;
    -webkit-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
        /* Transform with the translate3d attribute allows img's to be renderized without a 1px pop at the end, making it smoother, and the first digit centers in the X axys the content. */
    animation-name: unlock;
    animation-duration: 3s;
    animation-fill-mode: forwards;
        /* Forward makes the animation stop wherever it is and not reset to the original position */
    }

    @keyframes unlock {
    0% {
    padding-bottom: 0px;
    opacity: 0.0;
    }
    35% {
    padding-bottom: 0px;
    opacity: 0.0;
    }  
    50% {
    padding-bottom: 0px;
    opacity: 1.0;
    }
    75% {
    padding-bottom: 0px;
    opacity: 1.0;
    width: 80%;
    }
    100% {
    padding-bottom: 0px;
    opacity: 0.0;
    }
}

.scr1 {
    position: absolute;
    height: 700px;
    left: 50%;
    -webkit-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
        /* Transform with the translate3d attribute allows img's to be renderized without a 1px pop at the end, making it smoother, and the first digit centers in the X axys the content. */
    animation-name: scr1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
        /* Forward makes the animation stop wherever it is and not reset to the original position */
    }

    @keyframes scr1 {
    0% {
    padding-bottom: 0px;
    opacity: 0.0;
    }
    65% {
    padding-bottom: 0px;
    opacity: 0.0;
    }
    85% {
    padding-bottom: 0px;
    opacity: 1.0;
    }  
    100% {
    padding-bottom: 0px;
    opacity: 1.0;
    }
}

.decoration1{
    position: absolute;
    top: 360px;
    left: 80px;
    z-index: -2;
    width: 25%;
    opacity: 0.7;
    animation-name: deco1;
    animation-duration: 3s;
    }

    @keyframes deco1 {
    0% {
        opacity: 0;
        transform: scale(1.05);
        transform: translate3d(-10px, 22px);
        transform: rotate(191deg);
    }
    33% {
        transform: scale(1.15);
        transform: translate3d(5, 5px);
    }  
    66% {
        transform: scale(0.65);
        transform: translate3d(-1px, -7px);
    }
    100% {
        transform: scale(1.00);
        transform: translate3d(0, 0px);
    }
}

.decoration2{
    position: absolute;
    top: 260px;
    right: 120px;
    z-index: -2;
    width: 15%;
    opacity: 0.5;
    
    animation-name: deco2;
    animation-duration: 3s;
    }

    @keyframes deco2 {
    0% {
        opacity: 0;
        transform: scale(1.05);
        transform: translate3d(-10px, 22px);
        transform: rotate(191deg);
    }
    33% {
        transform: scale(1.15);
        transform: translate3d(5, 5px);
    }  
    66% {
        transform: scale(0.65);
        transform: translate3d(-1px, -7px);
    }
    100% {
        transform: scale(1.00);
        transform: translate3d(0, 0px);
    }
}


@media screen and (max-width: 1630px){

    .aboutme {
        margin-top: 0rem;
    }

    .aboutme-container{
        width: 100%;
        display: block;
    }
    
    .aboutme-photo-xl{
        display: none;
    }

    .aboutme-photo-m{
        display: flex;
    }

    .aboutme-photo-container{
        transition: 0.3s;
        opacity: 1;
        width: 100%;
        display: block;
    }

    .aboutme-text{
        width: 100%;
        float: left;
    }
}

@media screen and (max-width: 1000px){

    .smicon{
        height: 50px;
        cursor: pointer;
        border-radius: 2px;
        filter: contrast(0);
    }
    
    .smicon:hover{
        height: 50px;
        transition: 0.3s;
    }

    .smicon-xl{
        width: 50%;
        cursor: pointer;
    }
    
    .smicon-xl:hover{
        transition: 0.3s;
        opacity: 0.8;
    }

    .clickicon{
        display: none;
        height: 3rem;
        opacity: 0.3;        
    }
    
    .tapicon{
        display: inline-flex;
        vertical-align: middle;
        height: 3rem;      
    }

    .project{
        width: 100%;
        cursor: pointer;
    }

    .project-block {
        transition: 0.3s;
        height: 500px;
        width: 50%;
        cursor: pointer;
        display: inline-flex;
        margin-bottom: 5rem;
    }

    .navbar-container{
        padding: 0px;
        float: none;
        padding-top: 2rem;
        width: 100%;
        text-align: center;
        display: flex;
        align-content: center;
        justify-content: center;
    }
  
    .navbar{
        height: 120px;
        display: block;
    }

    .logo{
        display: none;
    }

    .navbar{
        height: 150px;
    }


    .nav-item-container{
        width: 33%;
        line-height: 3rem;
    }

    .nav-item-container-project{
        width: 33%;
        line-height: 3rem;  
    }


    .nav-btn {
        font-size: 3rem;
    }

    .nav-items{
        width: 100%;   
    }

    .slogan{
        width: 100%;
        padding: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 5rem;
    }

    .slogan-decoration{
        display: none;
    }

    .gallery{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .gallery-info-text{
        cursor: pointer;
        margin: 1rem;
        opacity: 1;
        line-height: 2.5rem;
        display: inline-flex;
        vertical-align: middle;
        font-size: 2.5rem;
        color: #383838;
    }

    .aboutme{
        width: 100%;
        padding: 0px;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    

    .aboutme-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .aboutme-photo-container{
        width: 100%;
        float: left;
    }
    
    .aboutme-text{
        width: 100%;
        float: left;
    }

    .aboutmetitle{
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
        text-align: left;
        text-justify: inter-word;
    }

    .logo-item{
        display: none;
    }

    .am-trigger1{
        display: none;
    }

    .am-trigger2{
        display: block;
    }

    .smicon{
        height: 100px;
        cursor: pointer;
        border-radius: 2px;
    }
    
    .smicon:hover{
        height: 100px;
        transition: 0.3s;
    }

    .smicon-xl{
        width: 33.33%;
        cursor: pointer;
    }
    
    .smicon-xl:hover{
        transition: 0.3s;
        opacity: 0.8;
    }

    .contact-info-text{
        cursor: pointer;
        margin: 1rem;
        opacity: 1;
        line-height: 2rem;
        display: inline-flex;
        vertical-align: middle;
        font-size: 2rem;
        color: #b3b3b3;
    }

    .contact{
        max-width: 100%;
        padding: 0px;
        margin: 0px;
        margin-bottom: 0rem;
        font-size: 0px;
        line-height: 0px;
        padding-left: 0rem;
    }

    .decoration1{
        position: absolute;
        top: 360px !important;
        left: 110px !important;
        width: 25%;
    }
    
    .decoration2{
        position: absolute;
        right: 190px;
        z-index: -2;
        width: 15%;
    }
}




/*===================================

TOOLBOX

===================================*/

.invisible{
    font-size: 0px;
    margin: 0px;
    padding: 0px;
}

.span.ltrText{
    unicode-bidi: bidi-override;
    direction: rtl
}

.project-thumbnails{
    width: 100%;
    height: 400px;
    display: inline-flex;
    margin-bottom: 2rem;
}

.pink-area-container{
    width: 50%;
    height: 400px;
    display: inline-flex;
    padding: 0px 1rem;
}

.pink-area{
    width: 100%;
    border-radius: 65px;
    background-color: #ef0060;
    opacity: 0.2;
}
