/*===================================

STRUCTURE

===================================*/

html {
    display: inline-block;
    animation: fadeIn linear 0.5s;
    -webkit-animation: fadeIn linear 0.5s;
    -moz-animation: fadeIn linear 0.5s;
    -o-animation: fadeIn linear 0.5s;
    -ms-animation: fadeIn linear 0.5s;
}
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

head {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    padding: 0px;
    margin: 0px;
}

/*===================================

SCROLLBAR

===================================*/

::-webkit-scrollbar {
    width: 5px;
    padding-right: 2px;
}

::-webkit-scrollbar-track {
  background: #f8f8f8; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #383838; 
}


/*===================================

TEXT

===================================*/

p {
    font-family: 'Karla', sans-serif;
    color: #383838;
    font-size: 16px;
}

a {
    font-family: 'Karla', sans-serif;
    color: #383838;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

h1 {
    font-family: 'Karla', sans-serif;
    color: #383838;
    font-size: 50px;
    font-weight: 200;
}

h2 {
    font-family: 'Karla', sans-serif;
    color: #383838;
    font-size: 20px;
    font-weight: 400;
}

h3 {
    font-family: 'Karla', sans-serif;
    color: #383838;
    font-size: 16px;
    font-weight: 100;
}

h4 {
    font-family: 'Karla', sans-serif;
    color: #f8f8f8;
    font-size: 20px;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
    line-height: 25px;
}

.navbar {
    max-width: 100%;
    height: 100px;
    position: sticky;
    left: 0px;
    top: 0px;
    padding: 2rem;
    backdrop-filter: blur(100px);
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 9999;
}

.logo {
    float: left;
    max-height: 50px;
    line-height: 50px;
    margin-left: 2rem;
}

.logoitem {
    float: left;
}

.navitems {
    float: right;
}

.navitem {
    float:left;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    height: 60px;
    width: 120px;
    border-radius: 4px;
    line-height: 60px;
    text-align: center;
}

.navitem:hover {
    transition: 0.5s;
    opacity: 1;
    background-color: #0f3351;
    color: #f8f8f8;
}


.mainphrase {
    padding: 5rem;
    margin-left: 2rem;
    max-width: 33%;
}


.ribbon {
    background: #0f3351;
    height: 10px;
    width: 10rem;
}

.buttonrow {
    margin-top: 3rem;
}

.cont-text {
    float: left;
}

.gallery {
    max-width: 100%;
    padding: 0px;
    margin: 0px;
}

.project {
    width: 24.7%;
    background-color: #0f3351;
    cursor: pointer;
}

.project:hover {
    transition: 0.5s;
    transform: scale(1.05);
}

.go-up {
    opacity: 0.8;
    filter: saturate(0);
    font-family: 'Karla', sans-serif;
    color: #0f3351;
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    font-size: 100px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #f8f8f8;
    width: 100px;
    height: 100px;
    text-align: center;
}

.go-up:hover {
    opacity: 1;
    filter: saturate(1);
}